{% load static %}
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Crear Cuenta</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-dark">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                        	<div class="col-9 floa-left">
							 	<div class="card my-5">
                                    <div class="card-body text-center">
                                        <div class="h3 font-weight-light">Crear mi cuenta</div> 
                                    </div>
                                    <hr class="my-0" />
                                    <div class="card-body">
                                        <form enctype="multipart/form-data" id="crear_usuario_form" method="POST" action="{% url 'crear_usuario' %}">
                                            {% csrf_token %}
                                        	<div class="row justify-content-center">
												<div class="col-md-6">
													
                                            	<div class="form-group">
                                            	<label class="text-gray-600 strong small" for="nombres">Nombres</label>
                                            	<input id="nombres" name="nombres" class="form-control form-control-solid py-4" type="text" placeholder="Ingresa tus dos nombres" required />
                                            	</div>													
												</div>

												<div class="col-md-6">
													
                                            	<div class="form-group">
                                            	<label class="text-gray-600 small strong" for="nombres">Apellidos</label>
                                            	<input id="apellidos" name="apellidos" class="form-control form-control-solid py-4" type="text" placeholder="ingresa tus dos apellidos" required />
                                            	</div>													
												</div>


												<div class="col-md-6">
													
                                            	<div class="form-group">
                                            	<label class="text-gray-600 strong small" for="nombres">Identificacion</label>
                                            	<input id="identificacion" name="identificacion" class="form-control form-control-solid py-4" type="text" placeholder="Ingresa tu identificacion" required aria-describedby="Identificacion" />
                                            	</div>													
												</div>

												<div class="col-md-6 py-1">
													<label class="text-gray-600 strong small" for="foto">Foto de perfil</label>
    												<input type="file" class="form-control" id="foto" name="foto" required>
												</div>                                        		
                                        	</div>


                                            <div class="form-group">
                                            
                                            	<label class="text-gray-600 small" for="emailExample">Correo Electronico</label>

                                            	<input class="form-control form-control-solid py-4" type="text" placeholder="Ejemplo: ejemplo@gmail.com" id="correo" name="correo" />

                                            </div>
                                            <div class="form-group">
                                            	<div class="row">
                                            		<div class="col-md-6">
                                            			<label class="text-gray-600 small" for="clave">Contraseña</label>
		                                            	<input  class="form-control form-control-solid py-4" type="password" id="clave" name="clave" placeholder="Ingresa tu contraseña" required  />

                                            		</div>
                                            		<div class="col-md-6">
                                            			
                                            		<label class="text-gray-600 small" for="clave-confirmar">Confirmar contrasena</label>
                                            		<input class="form-control form-control-solid py-4" id="clave-confirmar" name="clave-confirmar" type="password" placeholder="Repite tu contraseña" required  />		
                                            		</div>
                                            	</div>
                                            	
                                            </div>
                                            <hr class="my-0" />
                                            
                                                <div class="row py-2 justify-content-center">
                                                    <div class="col-6"><button submit="crear_usuario_form" class="btn btn-block btn-primary lift">Crear mi cuenta</button></div>
                                                    <div class="col-6"><a class="btn btn-block btn-danger lift" href="{% url 'login' %}">Cancelar</a></div>
                                                </div>
                                        </form>
                                    	</div>
                                    
                                </div>
                        	</div>
                           
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="footer mt-auto footer-dark">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; Sistema antiplagio 2020</div>
                            <div class="col-md-6 text-md-right small">
                                <a href="#!">Privacy Policy</a>
                                &middot;
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
