{% load static %}
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login - SB Admin Pro</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-dark">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-7">
                                <div class="card my-5 ">
                                    <div class="card-body text-center">
                                        <div class="h3 font-weight-light mb-3">Iniciar Sesión</div>
                                    </div>
                                    <hr class="my-0" />
                                    <div class="card-body p-5">
                                        <form id="login_form" method="POST" action="{% url 'login' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                            	<label class="text-gray-600 small" for="correo">Correo eletrónico</label>
                                            	<input id="correo" required name="correo" class="form-control form-control-solid py-4" type="text" placeholder="Ingresa tu correo electronico" />
                                            </div>
                                            <div class="form-group">
                                            	<label class="text-gray-600 small" for="clave">Contraseña</label>
                                            	<input required class="form-control form-control-solid py-4" type="password" placeholder="Ingresa tu contraseña" id="clave" name="clave" />
                                            </div>
                                            <div class="form-group">
                                            	<a class="small" href="#">Olvidaste la contraseña?</a>
                                            </div>


                                            <div class="row justify-content-center">
                                                <div class="col-6"><button class="btn lift btn-block btn-success" submit="login_form">Iniciar Sesión</button></div>
                                                <div class="col-6"><a href="{% url 'crear_usuario' %}" class="btn lift btn-block btn-primary lift py-2">Crear cuenta</a></div>
                                            </div>
                                        </form>
                                    	</div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="footer mt-auto footer-dark">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; Your Website 2020</div>
                            <div class="col-md-6 text-md-right small">
                                <a href="#!">Privacy Policy</a>
                                &middot;
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
