{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block titulo %}Principal{% endblock titulo %}</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href=" {% static 'assets/img/favicon.png' %} " />
        {% block extracss %}
            
        {% endblock extracss %}
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow navbar-dark bg-dark" id="sidenavAccordion">
            
            <ul class="navbar-nav align-items-center ml-auto">
                <li class="nav-item dropdown no-caret mr-3">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        >
                        <div class="d-none d-md-inline font-weight-500 text-light">Opciones</div>
                        <i class="fas fa-chevron-right dropdown-arrow"></i
                    ></a>
                    <div class="dropdown-menu dropdown-menu-right py-0 o-hidden mr-n15 mr-lg-0 animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                        <a class="dropdown-item py-3" href="{% url 'index' %}" 
                            ><div class="icon-stack bg-primary-soft text-primary mr-4"><i data-feather="zoom-in"></i></div>
                            <div>
                                <div class="small text-gray-500">Examinar documento</div>
                                Examina un documento o parrafo.
                            </div>
                        </a>
                        <a class="dropdown-item py-3" href="{% url 'listar_documentos' %}" 
                            ><div class="icon-stack bg-primary-soft text-primary mr-4"><i data-feather="book"></i></div>
                            <div>
                                <div class="small text-gray-500">Biblioteca</div>
                                Agregar o elimina archivos referencia de tu institucion.
                            </div></a
                        >
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-admin-pro/components" target="_blank"
                            ><div class="icon-stack bg-primary-soft text-primary mr-4"><i data-feather="code"></i></div>
                            <div>
                                <div class="small text-gray-500">Correos Electronicos</div>
                                Gestiona los correos electronicos archivados
                            </div></a
                        >
                        
                    </div>
                </li>
       
                <li class="nav-item dropdown no-caret mr-3 dropdown-user">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="{{usuario.id_persona.foto.url}}"/></a>
                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <img class="dropdown-user-img" src="{{usuario.id_persona.foto.url}}" />
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name"> {{usuario.id_persona.nombres}}&nbsp;{{usuario.id_persona.apellidos}} </div>
                                <div class="dropdown-user-details-email">{{usuario.correo}}</div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!"
                            ><div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            Mi cuenta</a
                        ><a class="dropdown-item" href="{% url 'cerrar_sesion' %}"
                            ><div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                            Cerrar Sesión
                            </a>
                    </div>
                </li>
            </ul>
        </nav>
        
            <div id="layoutSidenav_content">
                <main>
                    <div class="page-header pb-10 page-header-dark bg-dark">
                        <div class="container-fluid">
                            <div class="page-header-content">
                                <div class="pt-5">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="file"></i></div>
                                    <span>{% block cabecera %}
                                        Sistema Anti-plagio
                                    {% endblock cabecera %}</span>
                                </h1>
                                <div class="page-header-subtitle">
                                    
                                    {% block cabecera_descripcion %}
                                        Examina parrafos y documentos.
                                    {% endblock cabecera_descripcion %}
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    
                    <div class="container-fluid mt-n10">
                        {% block contenido_principal %}
                        
                        
                        {% endblock contenido_principal %}
                        
                    </div>
                </main>
                <footer class="footer mt-auto footer-light">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; Your Website 2020</div>
                            <div class="col-md-6 text-md-right small">
                                <a href="#!">Privacy Policy</a>
                                &middot;
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src=" {% static 'js/scripts.js' %}"></script>
        {% block extrajs %}
            
        {% endblock extrajs %}
    </body>
</html>
 